:root {
    --bg-color: rgb(246, 246, 246);
    --text-color: black;
    --name-label-color: gray;
}

/* dark colors */
@media (prefers-color-scheme: dark) {
    :root {
        --bg-color: #1D1F20;
        --text-color: white;
        --name-label-color: lightgray;
    }
}

body {
    font-family: 'Figtree', sans-serif;
    max-width: 800px;
    margin: 1rem auto;
    padding: 0 2rem;
    background-color: var(--bg-color);
    color: var(--text-color);
}

nav {
    display: flex;
    width: 100%;
    justify-content: center;
    border: .25rem solid red;
    background-color: var(--bg-color);
    z-index: 100;
    border-image: linear-gradient(to right, #fe5024, #fc903c) 1;

    a {
        padding: 1rem;
    }

    .logo {
        display: flex;
        align-items: center;
        fill: var(--text-color);
        margin-right: auto;
        line-height: 0;
        text-decoration: none;
    }
}

.hero {
    margin: 5rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
        display: flex;
        flex-wrap: wrap;
        font-size: 2.5rem;
    }
}

.name {
    text-decoration-line: underline;
    text-decoration-color: var(--name-label-color);

    abbr {
        text-decoration: none;
    }
}

.namelabel {
    font-size: .75rem;
    color: var(--name-label-color);
    position: relative;
    top: -1.75rem;
    font-style: italic;
}

button {
    border-radius: 0;
    background-color: black;
    color: white;
    border: none;
    width: 2rem;
    height: 2rem;
}

a {
    color: var(--text-color);
}

h3 {
    margin-bottom: 0;
}

.name-container {
    max-height: 2rem;
}

@media screen and (max-width: 500px) {
    .hero {
        margin: 5rem 0;

        h1 {
            width: 100%;
            justify-content: center;
            text-align: center;
            margin: 0 0 0.25rem 0;
            line-height: 1.1;
            gap: 1rem;
        }

        h1>span:not(.name-container) {
            display: none;
        }
    }

    .name-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: fit-content;
        margin: 0 auto;
        max-height: none;
        padding-top: 0;
    }

    .name-container br {
        display: none;
    }

    .namelabel {
        position: static;
        margin-top: 0.05rem;
    }

    .tagline {
        margin: 2rem 0 2rem 0;
    }
}

.lastname {
    font-weight: 600;
    text-wrap: nowrap;
}

.tagline {
    font-style: italic;
}

.styled-link {
    display: inline-block;
    padding: 10px 12px;
    text-decoration: none;
    color: var(--bg-color);
    background-color: var(--text-color);
    transition: background-color 0.3s;
}